<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">Deposits</th>
      <th scope="col">Available Balance</th>
      <th scope="col">Today's Beginning Balance</th>
      <th scope="col">Pending Transactions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Business</td>
      <td>$260,728.16</td>
      <td>$260,836.66</td>
      <td>-$108.50</td>
    </tr>
    <tr>
      <td>Checking</td>
      <td>$1,935.37</td>
      <td>$2,014.27</td>
      <td>-$78.90</td>
    </tr>
    <tr>
      <td>Standard Money Market</td>
      <td>$9,308.06</td>
      <td>$9,308.06</td>
      <td>$0.00</td>
    </tr>
    <tr>
      <td>Savings</td>
      <td>$7.15</td>
      <td>$7.15</td>
      <td>$0.00</td>
    </tr>
  </tbody>
</table>